[Unit]
Description=Worker Service
After=network.target

[Service]
WorkingDirectory=/opt/worker-app
ExecStart=/usr/bin/java -jar target/worker-jar-with-dependencies.jar
Environment=REDIS_HOST={{ redis_host }}
Environment=REDIS_PORT={{ redis_port }}
Environment=POSTGRES_HOST={{ postgresql_host }}
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_USER={{ postgresql_user }}
Environment=POSTGRES_PASSWORD={{ postgresql_password }}
Environment=POSTGRES_DB={{ postgresql_db }}
Restart=always

[Install]
WantedBy=multi-user.target