[Unit]
Description=Poll Web Application
After=network.target

[Service]
WorkingDirectory=/opt/poll-app
ExecStart=/opt/poll-app/venv/bin/python app.py
Environment=REDIS_HOST={{ redis_host }}
Environment=REDIS_PORT={{ redis_port }}
Restart=always

[Install]
WantedBy=multi-user.target